
.dashboard__view {
    padding-top: 7.3rem;
    left: 250px;
}

.dashboard__view .profile h2 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    margin-bottom: 1rem;
}

.dashboard__view .profile h3 {
    margin-bottom: 0.5rem;
    
}