
.dashboard__view {
    padding-top: 7.5rem;
    left: 250px;
    width: calc(100% - 270px);
}

.dashboard__view .profile h2 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    margin-bottom: 1rem;
}

.dashboard__view .profile h3 {
    margin-bottom: 0.5rem;
}

.dashboard__view .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 2rem;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
}

.dashboard__view .actual__profile .card {
    padding: 3rem 1rem;
    box-shadow: 0 0 10px 1px rgba(226, 226, 226, 0.6);
    -webkit-box-shadow: 0 0 10px 1px rgba(226, 226, 226, 0.6);
    border-radius: 10px;
}

.dashboard__view .actual__profile .card h3 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
    margin-bottom: 0.5rem;
}
